<nav class="space-x-6">
  <%= link_to 'Books', books_path, class: 'hover:text-blue-200' %>
  <%= link_to 'Members', members_path, class: 'hover:text-blue-200' %>
  <%= link_to 'Authors', authors_path, class: 'hover:text-blue-200' %>
  <%= link_to 'Categories', categories_path, class: 'hover:text-blue-200' %>
  <%= link_to 'Loans', book_loans_path, class: 'hover:text-blue-200' %>
  <%= link_to 'Reservations', reservations_path, class: 'hover:text-blue-200' %>
</nav>