<!DOCTYPE html>
<html>
  <head>
    <title>Library Management System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <%= render 'shared/navigation' %>

    <main class="py-10">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <% if notice %>
          <div class="mb-8 rounded-md bg-green-50 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <iconify-icon icon="heroicons:check-circle" class="h-5 w-5 text-green-400"></iconify-icon>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-green-800"><%= notice %></p>
              </div>
            </div>
          </div>
        <% end %>

        <% if alert %>
          <div class="mb-8 rounded-md bg-red-50 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <iconify-icon icon="heroicons:x-circle" class="h-5 w-5 text-red-400"></iconify-icon>
              </div>
              <div class="ml-3">
                <p class="text-sm font-medium text-red-800"><%= alert %></p>
              </div>
            </div>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
